<div class="container min-vh-100 d-flex flex-column">
    <div class="card shadow rounded-3 my-auto">
        <h1 class="text-danger">Contact Us</h1>
        <br>
        <div class="card-header h4">
            Contact Us
        </div>
        <div class="card-body shadow p-4">
            <form role="form" class="row">
                <div class="form-group col-lg-6">
                    <label class="form-control-label" for="form-group-input">Name</label>
                    <input type="text" class="form-control" id="form-group-input" name="name">
                </div>
                <div class="form-group col-lg-6">
                    <label class="form-control-label" for="form-group-input">Email</label>
                    <input type="text" class="form-control" id="form-group-input" name="email">
                </div>
           
                <div class="form-group col-lg-12">
                    <label class="form-control-label" for="form-group-input">Notes</label>
                    <textarea class="form-control" id="form-group-input" name="notes" rows="6"></textarea>
                </div>
                <div class="form-group col-lg-12">
                    <button class="btn btn-danger float-end mt-2" for="form-group-input">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>