.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}



.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}