<div class="wrapper bg-dark">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Store</h3>
        </div>

        <ul class="list-unstyled components">
           
           
            <li>
                <a class="nav-link "  [routerLink]="['/User/MyProfile']" routerLinkActive="active" >MyProfile</a>

            </li>
            <li>
                <a class="nav-link " [routerLink]="['/User/EditProfile']" routerLinkActive="active" >Edit MyProfile</a>
            </li>

            <li >
                <a class="nav-link " [routerLink]="['/Test']" routerLinkActive="active" >Test</a>


            </li>
        </ul>

      
    </nav>

  
</div>